html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	background-color: $bg-color;
	color: $text-color;
	font-family: $font-regular;
  min-height: 100%;
	position: relative;
}

body, html {
	// overflow-x: hidden;
	// height: calc(100% - 160px);
	height: 100%;
	margin: 0;
}

body {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
}

p {
	font-size: 13px;
	font-weight: 500px;
	line-height: 21px;
}

ul {
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
	position: relative;
}

#main-wrapper {
  width: 100%;
  min-height: 100%;
  position: relative;
	margin-top: 90px;
}
