.only-sr {
	position: absolute;
	left: -10000px;
	top:auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.edge-top{
	border-top: 3px solid;
	border-image: linear-gradient(to left, transparent, #00D6E6, transparent);
	-moz-border-image: -moz-linear-gradient(left, transparent, #00D6E6, transparent);
	-webkit-border-image: -webkit-linear-gradient(left, transparent, #00D6E6, transparent);
	border-image-slice: 1 0 0;
}

.edge-bottom{
	border-bottom: 3px solid;
	border-image: linear-gradient(to left, transparent, #00D6E6, transparent);
	-moz-border-image: -moz-linear-gradient(left, transparent, #00D6E6, transparent);
	-webkit-border-image: -webkit-linear-gradient(left, transparent, #00D6E6, transparent);
	border-image-slice: 0 0 1;
}
