@mixin font-face($name, $file) {
	font-family: $name;
	src: url('fonts/'+$file+'.eot');
	src: url('fonts/'+$file+'.eot?#iefix') format('embedded-opentype'), url('fonts/'+$file+'.woff2') format('woff2'), url('fonts/'+$file+'.woff') format('woff'), url('fonts/'+$file+'.ttf') format('truetype');
	src: url('fonts/'+$file+'.eot?#iefix') format('embedded-opentype'), url('fonts/'+$file+'.svg#gandhi_sansbold') format('svg'), url('fonts/'+$file+'.woff2') format('woff2'), url('fonts/'+$file+'.woff') format('woff'), url('fonts/'+$file+'.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@mixin opacity($value:0) {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$value*100+")";
	filter: alpha(opacity=$value*100);
	-moz-opacity: $value;
	-khtml-opacity: $value;
	opacity: $value;
}

@mixin transition($transition) {
	transition: $transition;
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	-o-transition: $transition;
}

@mixin transform($transform) {
	transform: $transform;
	-webkit-transform: $transform;
	-moz-transform: $transform;
	-ms-transform: $transform;
	-o-transform: $transform;
}

@mixin border-radius($params: 0px) {
	-webkit-border-radius: $params;
	-moz-border-radius: $params;
	-ms-border-radius: $params;
	border-radius: $params;
}

@mixin transform-origin($position: center){
	-webkit-transform-origin: $position;
	-moz-transform-origin: $position;
	-ms-transform-origin: $position;
	-o-transform-origin: $position;
	transform-origin: $position;
}

@mixin pleca-bottom($height, $color){
	background-color: $color;
	bottom: -$height;
	height: $height;
	left: 0px;
	position: absolute;
	width: 100%;
}
@mixin pleca-top($height, $color){
	background-color: $white;
	top: -$height;
	height: $height;
	left: 0px;
	position: absolute;
	width: 100%;
}

@mixin on-device($media) {
    @media only screen and #{$media} {
        @content;
    }
}
