@import 'lib/eases';
/* colors */
$bg-color: #F4F4F4;
$blue:     #153166;
$blueL:    #00ACC8;
$red:      #c40000;
$white:    #ffffff;

// links
$link-color: $blue;
$link-color: #00acc4;
$text-color: #4A4A4A;

// colors button
$btn-color:  $blueL;
$btn-hover:  $blue;
$btn-shadow: rgba(58, 33, 16, 0.5);

//color p
$text-color: #4A4A4A;

/* fonts */
$font-regular: 'Raleway', sans-serif;

/* media queries */
$phone: '(max-width: 480px)';
$tablet: '(min-width: 481px) and (max-width: 979px)';
$tablet-portrait: '(max-width: 767px)';
$tablet-landscape: '(min-width: 768px) and (max-width: 979px)';
$desktop: '(min-width: 980px)';
$non-retina: 'screen and (-webkit-max-device-pixel-ratio: 1)';
$retina: '(min--moz-device-pixel-ratio: 1.5),
                    (-o-min-device-pixel-ratio: 3/2),
                    (-webkit-min-device-pixel-ratio: 1.5),
                    (min-device-pixel-ratio: 1.5),
                    (min-resolution: 144dpi),
                    (min-resolution: 1.5dppx)';
