@import 'lib/eases';
@import 'global/vars';
@import 'lib/bootstrap';

@import 'global/mixins';

@import 'global/default';
@import 'global/helpers';
@import 'global/fonts';

@import 'modules/preloader';
@import 'modules/buttons';
@import 'modules/animation';
@import 'modules/nav';
@import 'modules/generals';
@import 'modules/footer';

.container-fluid{
  padding: 0;
}

button#toggle-menu { display: none; }

#main-wrapper {
  height: calc(100% - 65px;);
  min-height: inherit;
  margin-top: 0;
}

.sections-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  .section {
    display: table;
    width: 100%;
    height: 100%;
    padding: 0 100px;
    max-width: 1440px;
    .container {
      display: table-cell;
      vertical-align: middle;
      width: 80%;
      .section-title {
        @include on-device($phone) {
          margin: 60px auto;
          &:before {
            // width: 47%;
            // right: 17%;
          }
          &:after {
            // width: 27%;
    	      right: -9%;
          }
        }
      }
    }
  }

  @include on-device($tablet) {
    .section {
      padding: 0;
      .container {
        width: 100%;
      }
    }
  }

  @include on-device($phone) {
    .section {
      padding: 0;
      .container {
        width: 100%;
      }
    }
  }
}

#footer {
  margin-top: 0;
}
