@import 'lib/eases';
@import 'global/vars';
@import 'lib/bootstrap';
@import 'lib/owl.carousel';

@import 'global/mixins';

@import 'global/default';
@import 'global/helpers';
@import 'global/fonts';

@import 'modules/preloader';
@import 'modules/buttons';
@import 'modules/images';
@import 'modules/animation';
@import 'modules/nav';
@import 'modules/generals';
@import 'modules/footer';
@import 'modules/brands';

.container-fluid{
  padding: 0;
}

#maps iframe {
  width: 100%;
  max-width: 480px;
  height: 300px;
  display: block;
  margin: 0 auto;
}
