#brands{
  background-color: $white;
  text-align: center;
  padding-bottom: 80px;
  .section-title {
    margin-top: 60px;
  }
  li{
    display:inline-block;
    padding-right: 52px;
    a{
      color: #BCBCBC;
      font-size: 14px;
      font-weight: 300;
      text-decoration: none;
    	&:hover{
     		color: #00AFCC;
        font-weight: 600;
        text-decoration: underline;
    	}
    }
  }
  .pleca-top{
    @include pleca-top(10px,$white);
  }
  .pleca-bottom{
    @include pleca-bottom(30px,$white);
  }

  @include on-device($phone) {
    padding-bottom: 35px;
    .section-title { margin-top: 15px; }
  }
}

.products-banner {
  width: 100%;
  height: auto;
  min-height: 220px;
  text-align: center;
  .shadow-bg {
    width: 100%;
    height: auto;
    min-height: 220px;
    position: relative;
  }
}

.logo-hover {
 display: block;
 background-repeat: no-repeat;
 background-size: cover;
 &.asepxia {
   background-image: url(../img/brands/asepxia-gris.png);
   &:hover { background-image: url(../img/brands/asepxia.png); }
 }
 &.cicatricure {
   background-image: url(../img/brands/cicatricure-gris.png);
   &:hover { background-image: url(../img/brands/cicatricure.png); }
 }
 &.tio-nacho {
   background-image: url(../img/brands/tio-nacho-gris.png);
   &:hover { background-image: url(../img/brands/tio-nacho.png); }
 }
 &.medicasp {
   background-image: url(../img/brands/medicasp-gris.png);
   &:hover { background-image: url(../img/brands/medicasp.png); }
 }
 &.nikzon {
   background-image: url(../img/brands/nikzon-gris.png);
   &:hover { background-image: url(../img/brands/nikzon.png); }
 }
}
