.btn{
	width: 175px;
	color: $white;
	display: block;
	font-size: 20px;
	font-weight: 400;
	padding: 11px 0;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	background-color: $btn-color;
	box-shadow: 0px 2px 4px $btn-shadow;
	@include transition(all 800ms $easeOutQuad);
	&:hover{
 		background-color: $btn-hover;
		color: $white;
	}
	&.center {
		margin: 0 auto;
	}
	&.mobile-center {
		@include on-device($phone) { margin: 0 auto; }
	}
}

a.link {
	color: #00ACC8;
	text-decoration: none;
	&:hover { text-decoration: underline; }
}
