// seleccionador de paises
body.desktop {
	#change-location-mobile{
	  display: none;
	}
  #change-location {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    position: relative;
		float: right;
    width: 90px;
    bottom: 48px;
		z-index: 2;
    a {
      color: #153166;
      font-size: 13px;
      font-weight: 900;
			text-decoration: none;
      display: inline-block;
      float: right;
      width: 100%;
      text-align: center;
      padding: 0;
      width: 100%;
      height: 16px;
    }
    & > a {
      height: 27px;
      padding: 7px;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        right: 8px;
        top: 10px;
        border: solid black;
        border-width: 0px 2px 2px 0;
        display: inline-block;
        padding: 2px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        @include transition(all 150ms ease);
      }
      &.active {
        &:after {
          transform: rotate(-135deg);
          -webkit-transform: rotate(-135deg);
          @include transition(all 180ms ease-in);
        }
        & + #country-selector{
          height: auto;
          opacity: 1;
        }
      }
    }
    #country-selector{
      width: 140px;
      background-color: #153166;
      position: absolute;
      left: -15px;
      top: 15px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      overflow: hidden;
      opacity: 0;
			text-align: left;
      @include transition(all 250ms ease-out);
      li {
        padding: 0;
        float: left;
				width: 100%;
        height: 16px;
				padding: 8px 0 21px 15px;
				border-bottom: solid #1E396C;
				border-width: 0px 0px 1px 0px;
        a {
					font-size: 13px;
		      font-weight: 600;
					text-align: left;
					color: #fff;
          @include transition(background-color 100ms ease);
          &:hover {
            color: #48D3E1;
          }
        }
      }
    }
  }
}
body.mobile {
	#change-location{
		display: none;
	}
	#change-location-mobile{
		margin-bottom: 10px!important;
		a.countryM {
			color: #fff;
			text-transform: uppercase;
			text-decoration: none;
			font-weight: 100;
			font-size: 13px;
			width: 100%;
			padding: 0px;
			display: block;
			position: absolute;
			margin-top: 20px;
			&:hover { color: $blueL; }
		}
    & > a {
      height: 27px;
      padding: 7px;
      &:after {
        content: "";
        left: 30px;
        right: 0px;
        bottom: 3px;
        position: relative;
        border: solid #fff;
        border-width: 0px 2px 2px 0px;
        display: inline-block;
        padding: 4px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        @include transition(all 150ms ease);
      }
      &.active {
        &:after {
          transform: rotate(-135deg);
          -webkit-transform: rotate(-135deg);
          @include transition(all 180ms ease-in);
        }
        & + #country-selector{
          height: 211px;
          opacity: 1;
        }
      }
    }

	}
	#country-selectorM{
		background-color: #153166;
		position: relative;
		left: -15px;
		top: 15px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		overflow: hidden;
		display: none;
		text-align: left;
		margin: 32px 0 15px !important;
		li {
			padding: 0;
			float: left;
			width: 100%;
			height: 16px!important;
			padding: 20px 0px 20px 30px !important;
			border-bottom: solid #1E396C;
			border-width: 0px;
			&:first-child{
				padding-top: 10px!important;
			}
			a {
				color: #fff;
				text-decoration: none;
				font-weight: 100;
				font-size: 15px !important;
				width: 100%;
				height: 100%;
			//	padding: 10px 0px;
				display: block;
				position: absolute;
				&:hover { color: $blueL; }
				&:after { bottom: 0; }
			}
		}
	}
}
