#footer{
  width: 100%;
  min-height: 50px;
  margin-top: 30px;
  background-color: $blueL;
  font-size: 13px;
  ul {
    margin: 25px 0;
    color: #fff;
    li{
      display: inline-block;
      margin-left: 30px;
      text-transform: uppercase;
      br{ display: none; }
      a {
        color: #fff;
        text-decoration: none;
        &:hover{ text-decoration: underline; }
      }
    }
  }

  @include on-device($tablet) {
    ul {
      text-align: center;
      li { margin-left: 0px; width: 100%; }
      &:last-child {
        li { margin-bottom: 20px; }
      }
    }
  }

  @include on-device($phone) {
    ul {
      text-align: center;
      margin-bottom: 50px;
      li { margin-left: 0px; width: 100%; }
      &:last-child {
        li { margin-bottom: 20px; }
      }
    }
    .mobile-hide { display: block; visibility: hidden; }
  }
}
