.main {
	&-image {
		.container { padding-top: 260px; }
		height: 635px;
	  font-weight: 600;
	  margin: 0px;
	  padding: 0px;
	  width: 100%;
	  background: {
			color: #EDEDED;
	    position: center;
	    repeat: no-repeat;
	    size: cover;
	  }
	}
	&-title{
    color: $blue;
    background-color: #EAEAEA;
    display:inline-block;
    font-size: 48px;
    line-height: 41px;
    padding: 19px 17px;
    text-align: left;
		margin: 0;
		text-transform: uppercase;
    &:first-child{
      margin-bottom: -1px;
    }
    &:last-child{
      padding-top: 0px;
    }
  }
  &-text{
    color: $blueL;
    background-color: $white;
    display:inline-block;
    font-size: 20px;
    margin: 0;
    opacity: 0.8;
    padding: 15px 19px;
  }

	@include on-device($tablet) {
		&-image {
			height: 380px;
			.container {
				padding-top: 225px;
			}
		}
		&-title {
			font-size: 24px;
			padding: 1px 12px;
			letter-spacing: -1.5px;
		}
	}

	@include on-device($phone) {
		&-image {
			height: 205px;
			.container {
				padding-top: 105px;
			}
		}
		&-title {
			font-size: 20px;
			padding: 1px 12px;
			letter-spacing: -1.5px;
		}
	}

}

.sections-wrapper {
  background: {
    image:  url(../img/background-home.png);
    position: center;
    repeat: no-repeat;
    size: cover;
  }
}

.section {
	&.no-padding { padding: 0; }
	&.margin-pleca { padding-top: 130px; }
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 100px 0 110px;
  border: 0;
  &-title {
  	color: $blue;
  	font-size: 36px;
  	font-weight: 700;
  	max-width: 85%;
    margin: 0 auto 60px;
  	text-transform: uppercase;
    &::before{
      content:"";
      border-bottom: 1px dashed $blueL;
      position: absolute;
      width: 25%;
      bottom: -15px;
      right: 25%;
    }
    &::after{
      content:"";
      border-bottom: 1px solid $blueL;
      position: absolute;
  		width: 27%;
  		bottom: -15px;
      right: -2%;
   	}
  }
	&-subtitle {
		color: $blueL;
		font-size: 20px;
		margin-top: 13px;
		text-align: left;
		text-transform: uppercase;
	}
  &-text {
    margin: 0 0 25px;
  }
	& .foot-text {
		font-size: 10px;
	}
	a.mailto{
		color: $blueL;
		width: 100%;
		max-width: 320px;
		margin: 5px auto;
		display: block;
		text-align: center;
	}
	&.white { background-color: #fff; }
	&.blue {
		background-color: $blue;
		color: #fff;
		& .section-title { color: #fff; }
	}

	@include on-device($tablet) {
		&-title {
			font-size: 30px;
			&::before{
	      width: 30%;
	      right: 19%;
	    }
	    &::after{
	  		width: 28%;
	      right: -9%;
	   	}
		}
	}

	@include on-device($phone) {
		&.margin-pleca { padding-top: 80px; }
		text-align: center;
		padding: 50px 0 55px;
		&-title {
			font-size: 24px;
			&::before{
	      width: 40%;
	      right: 10%;
	    }
	    &::after{
	  		width: 22%;
	      right: -13%;
	   	}
			&.border-left::after { right: -9%; }
		}
		&-subtitle { text-align: center; }
		&-block { margin-bottom: 50px; }
	}
}

.left-blue{
  background-color: #fff;
  border-left: 26px solid $blue;
  //margin: -50px auto;
  padding: 105px 0px 70px;
  .pleca-bottom{
    @include pleca-bottom(10px,$white);
  }
	@include on-device($phone) {
		margin: 0px auto;
		padding: 55px 0px 35px;
	}
}

ul.no-style{
	list-style: none;
}

ul.address {
	list-style: none;
	color: $blue;
	margin-top: 10vh;
	li {
		margin: 15px 0;
		font-size: 14px;
		font-weight: 500;
		strong { font-weight: 700; }
		a {
			color: $blue;
			margin: 5px 0;
			i { line-height: 45px; }
		}
	}
	@include on-device($tablet) {
		text-align: center;
		margin: 20px 0 40px;
	}
	@include on-device($phone) {
		margin: 20px 0 40px;
	}
}

ul.dots {
	padding-left: 25px;
	list-style: none;
	li{
		position: relative;
		font-size: 13px;
		i {
			border-radius: 100%;
			margin-right: 10px;
			width: 5px;
			height: 5px;
			background-color: $text-color;
			display: inline-block;
			vertical-align: 1px;
		}
	}
	@include on-device($phone) {
		padding-left: 0;
	}
}

#about-us{
	position: relative;
	z-index: 1;
}
.text-center{
	text-align: center;
}

.contact-bg {
	background: {
		position: center 100%;
    size: cover;
    repeat: no-repeat;
    image: url(../img/background-contact.png);
	}
}
