.section-block{
  .side_image {
    img {
      display: block;
      margin: 0 auto;
      transform: translateY(45px);
      &.right { transform: translateY(25px); }
    }
  }
  @include on-device($tablet) {
    .side_image {
      img {
        transform: translateY(0);
        &.right { transform: translateY(0); }
      }
    }
  }
  @include on-device($phone) {
    .side_image {
      img {
        transform: translateY(0);
        &.right { transform: translateY(0); }
      }
    }
  }
}
