#main-nav-container {
	padding: 10px;
	width: 100%;
	height: 90px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	background: {
			color: #EDEDED;
	    // image:  url(../img/genomalab-logo_br.svg);
	    // position: center;
	    // repeat: no-repeat;
		}
	&.active {
		z-index: 1000;
	}

	.toggle-nav {
		width: 30px;
		height: 24px;
		position: fixed;
		cursor: pointer;
		float: left;
		padding: 5px;
		border: none;
		top: 33px;
		background: none;
		outline: none;
		z-index: 1;
		&:before, &:after {
			content: "";
		}
		&:before, &:after, .toggle-icon {
			display: block;
			position: absolute;
			height: 3px;
			width: 100%;
			background: $blue;
			left: 0;
			top: 0;
			@include transform(rotate(0deg));
			@include transition(250ms $easeOutSine);
		}
		.toggle-icon { top: 11px; }
		&:after { top: 21px; }
	}

	a.home-logo {
		// float: right;
		width: 200px;
		margin: 7.5px auto 0;
		display: block;
	}

	.nav-content {
		top: 9px;
		position: fixed;
		float: left;
		margin-left: 40px;
		background: $blue;
		z-index: 3;
		ul {
			background-color: transparent;
			height: 33px;
			float: left;
			text-align: left;
			margin: 6px 10px;
			padding: 0 10px;

			li {
				float: left;
				height: 100%;
				list-style: none;
				margin: 0px 10px;
				a.menu-link {
					color: #fff;
					text-transform: uppercase;
					text-decoration: none;
					font-weight: 100;
					font-size: 13px;
					height: 100%;
					padding: 10px 0px;
					display: block;
					position: relative;
					&:hover { color: $blueL; }
					&:after { bottom: 0; }
				}
			}
		}
	}

	&.active {
		section#lang-selector-container { display: block; }

		.toggle-nav {
			&:before, &:after, .toggle-icon {
				height: 3px;
			}
			&:before {
				@include transform(rotate(135deg));
				top: 10px;
			}
			&:after {
				@include transform(rotate(-135deg));
				top: 10px;
			}
			.toggle-icon {
				opacity: 0;
				left: 15px;
				width: 0;
			}
		}
	}
}

body.desktop {
	#main-nav-container {
		.nav-content {
			overflow: hidden;
			height: 0px;
			top: 32px;

			ul {
				@include transition(background-color 350ms ease-out);
				background-color: transparent;

				li {
					@include transform(translateY(10px));
					opacity: 0;
				}
			}
		}

		&.active {
			.nav-content {
				ul {
					@include transition(background-color 150ms ease);
					background-color: rgba(21, 49, 102, 0.75);
				}
			}
		}
	}
}

body.mobile {
	#main-nav-container {
		.container {
			padding: 0 5px;
		}
		position: fixed;
		// background-color: rgba(21, 49, 102, 0.9);
		top: 0;
		left: 0;
		height: 90px;

		.toggle-nav { top: 33px; }

		.home-logo { float: right; }

		.nav-content {
			opacity: 0;
			display: none;
			position: fixed;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			margin-left: 0;
			background-color: rgba(21, 49, 102, 0.97);
			margin-top: 90px;
			@include transform(translateY(50px));

			ul {
				background-color: transparent;
				height: 100%;
				width: 100%;
				padding: 0;
				margin: 20px 0 0;

				li {
					width: 100%;
					height: 10%;
					@include transform(translateY(50px));
					opacity: 0;
					display: table;
					margin: 0 0 0 25px;
					a {
						display: table-cell;
						font-size: 20px;
						padding: 0px;
						vertical-align: middle;
					}
				}
			}
		}

		&.active {
			section#lang-selector-container {
				visibility: visible;
				opacity: 1;
			}
		}
	}
}

// Language list styles

body.desktop {
	a.hoverable {
		&:after {
			content: "";
			height: 3px;
			width: 0%;
			background-color: $blueL;
			left: auto;
			right: -5px;
			bottom: -2px;
			position: absolute;
			@include transition(width 250ms ease);
		}
		&:hover,
		&.active {
			color: rgba(255, 255, 255, 1);
			&:after {
				width: calc(100% + 10px);
				left: -5px;
				right: auto;
			}
		}
	}
}

body.mobile {
	a.hovereable {
		&.active {
			color: $blueL!important;
		}
	}
}

@import "modules/country";
