body.loading {
	overflow: hidden;
}

#preloader {
	&.only-sr{
		color: #000;
	}
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 100; /* For prevent all z-indexes */
	opacity: 1;
	background: {
		// color: $bg-color;
		color: #EDEDED;
		image: url(../img/preloader.png);
		position: center center;
		repeat: no-repeat;
		size: 80px auto;
	}
}
